.fo{
    background-color: #352F44;
    color: aqua;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
   padding: 100px;
    
    

}
.go{
    background-color: rgb(57, 161, 54);
    
}
.go h1{
    text-align: center;
}