body{
    background-color: #2B2A4C;
}

.what {
    background-color:#352F44;
    padding: 0;
    margin: 0;
}
.what p{
    color: aliceblue;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    margin: 5px;
    display: flex;
    

}
.zo{
    display: block;
    text-align: center;
    text-decoration-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #F6FA70;
    
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    background-color: #272829;
    color: rgb(226, 226, 226);
}